__pycache__/
*.pyc
*.pyo

ui.py
docs/

# Ignore virtual environment
venv/
password_manager/
build/
# Ignore secret files
.env
user_credentials.json
passwords.json
secret.key
vault.enc
backend/


# Ignore log files
*.log
logs/